extends layout

block content

    script(src='/javascripts/etudiantsRest.js')

    table.etuListtr.etuList
        tr.etudiant
            td.titre="Nom"
            td.titre= "prenom"
            td.titre= "groupe"

        each etudiant in etudiantsData
            tr.etudiant(name=etudiant._id)
                td.nom= etudiant.nom
                td.prenom= etudiant.prenom
                td.groupe= etudiant.groupe
                td
                    button.put(data-etudiantid=etudiant._id, data-etudiant=etudiant)  valider
                td
                    button.delete(data-etudiantid=etudiant._id)  delete


        tr.etudiant
            td
                input#nom(placeholder="nom")
            td
                input#prenom(placeholder="prenom")
            td
                input#groupe(placeholder="groupe")
            td
                button#createbutton create


